.panel-sidebar{
  width: 280px;
}

nav{
  border-bottom: solid #f0eee9 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.uk-nav>li>a{
  padding: 15px !important;
  padding-left: 20px !important;
}
