.panel-sidebar{
  width: 280px;
}

nav{
  padding-left: 10px;
  padding-right: 10px;
}

.uk-nav>li>a{
  padding: 15px !important;
  padding-left: 20px !important;
  font-size: 18px;
}

.uk-nav>li>a>span:not(.fas){
  margin-left: 8px;
}





.color-red{
  color: red;
}
.color-green{
  color: green;
}
.color-greenyellow{
  color: greenyellow;
}
.color-white{
  color: white;
}
.color-orange{
  color: orange;
}

.c-btn-icon{
  background: rgb(255 255 255 / 46%);
  cursor: pointer;
  font-size: 18px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 4px;
}

.color-red.c-btn-icon{
  border-color: red;
}
.color-green.c-btn-icon{
  border-color: green;
}

.item-in-card{
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.c-button-teal{
  background: teal;
  color:white;
}

.c-button-icon>i{
  font-size: 18px;
  margin-left: 8px;
}
